<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <style>
      body {
        background-color: #282c34;
        color: #abb2bf;
        font-family: monospace;
        font-size: 16px;
      }

      .container {
        max-width: 960px;
        margin: 1em auto;
      }

      a:link,
      a:hover,
      a:active,
      a:visited {
        color: #abb2bf;
      }

      h1::before {
        content: "# ";
      }

      h2::before {
        content: "## ";
      }

      h3::before {
        content: "### ";
      }

      pre, code {
        background-color: #4e525c;
        padding: 3px;
        border-radius: 2px;
      }

      hr {
        color: #abb2bf;
        margin: 2em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{if .Navigation}}
      <div class="nav">
        {{.Title}} | {{range .Navigation}}
        <a href="{{.URL}}">{{.Name}}</a> | {{end}}
      </div>
      {{end}}
      <div class="text">{{.Text}}</div>
      <div class="footer">
        <hr />
        made with <a href="https://codeberg.org/u1f320/msg">msg</a> {{if
        .Source}} | <a href="{{.Source}}">source code</a>
        {{end}}
      </div>
    </div>
  </body>
</html>
